# === Python Build & Cache ===
*.egg-info/
*.py[cod]
.ruff_cache/
__pycache__/
build/

# === Virtual Environments ===
venv/

# === Configuration & Secrets ===
*.env

# === Temporary Files & Testing ===
*.json
*.log
output/